@model Domain.Models.Product
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h5 class="bg-success text-white text-center m-2 p-2">@Model.Title</h5>
    <div class="container-xl px-4 mt-4">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header text-success">Profiel foto</div>
                    <div class="card-body text-center">
                        <img class="img-account-profile rounded-circle mb-2" src="@Model.Photo" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header text-success">Product gegevens</div>
                    <div class="card-body">
                        @if (Model.Alchol == 1)
                        {
                            <div class="mb-3">
                                <label class="small mb-1">Leeftijd:</label>
                                <br />
                                <div class="text-success">18+</div>
                            </div>
                        }
                        else
                        {
                            <div class="mb-3">
                                <label class="small mb-1">Age:</label>
                                <br />
                                <div class="text-success">all</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>