@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome</h1>
</div>
<div class="text-center">
    <text class="display-6 text-success">Hier kan je al je pakketen reserveren voor goed kopen eten en te vechten tegen verspilling!</text>
</div>
